body {background-color:darkslategray; 
    color:rgb(0, 211, 0); 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: 550}
h1 {color:white; font-family: Snell Round, cursive;} 
.hanna {font-style:italic;
    font-size:small;}
li {border-color: orange;
    border-radius: 18px;
    margin-left: 820px; 
    margin-right: 820px;
    text-align: center}
.tul {text-align:right; color: black; font-size: smaller; margin-top: 2000px}
